<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'card1.html' %}
    {% block company %}Jaume I University{% endblock %}
    {% block initial_date %}2023{% endblock %}
    {% block final_date %}2024{% endblock %}
    {% block rol %}AI Researcher{% endblock %}
    {% block country %}Castellón de la Plana, Spain{% endblock %}
    {% block description %}From 2023 december I have been working into
    a project based on convolutional neural networks with Pytorch. I have
    designed and implemented a convolutional neural network that performs
    super-resolution and registration of multimodal intersensor satelital images.
    More specifically I have worked with images from Sentinel-2 and Sentinel-3. 
    The developed network is composed of 2 modules, one for registration
    and other for super-resolution, this is needed because Sentinel-2 images
    are 15 times bigger than Sentinel-3 images. Both are formed by u-nets, both designed
    and implemented by myself from scratch. More information will be available soon
    on my github.  {% endblock %}
</body>
</html>