<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'card1.html' %}
    {% block company %}Jaume I University{% endblock %}
    {% block initial_date %}2022{% endblock %}
    {% block final_date %}2023{% endblock %}
    {% block rol %}AI Researcher{% endblock %}
    {% block country %}Castellón de la Plana, Spain{% endblock %}
    {% block description %}While almost 9 months I had been working in AI based videogame
    developed with python and unity. I programmed all logical side with python and pygame
    for debug purposes. I developed a server that was in charge of create instances
    of the game (python side) and send it to the client which was developed
    with Unity and C#. The technology used for communcation was sockets using TCP
    protocol to ensure that input from clients were correctly prossesed.{% endblock %}
</body>
</html>