<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark p-block mb-5 top_slide">
        <div class="container">
            <a class="navbar-brand" href=""><i class="text-white fa-solid fa-filter"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#filterbar" aria-controls="filterbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="filterbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    {% for value, label in filter.form.date.field.choices %}
                        <li class="nav-item "><a class = "nav-link text-white" href="?date={{ value }}">{{ label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>