<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h1>Filter</h1>
        <ul>
            {% for value, label in filter.form.date.field.choices %}
                <li><a href="?date={{ value }}">{{ label }}</a></li>
            {% endfor %}
        </ul>
        <h1>Post List</h1>
        {% include 'blog_content.html' with posts=filter.qs %}
    {% endblock %}

</body>
</html>