<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mb-5 bottom_slide">
        <div class="text-center text-justify lead">
            <h1 class="lead display-1">About</h1>
            <p>
                Since I started my videogame career at the University Jaume I I am passionate about programming. 
                During my course I realized that my true vocation was the development of software beyond the development of video games. 
                I have spent a couple of years working as a researcher at the university, but I think it's time to join the working world and bring everything I've learned to a company that shares my values.
            </p>
        </div>
    </div>
</body>
</html>