<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div  class="container my-5" id="download-resume">
    <a href="media/pdfs/cv-pro-english-python.pdf" class="btn btn-primary" download="documento.pdf"><i class="mx-2 fa-solid fa-file-arrow-down"></i>Download Resume</a>
  </div>

  {% include 'myself.html' %}
  {% include 'about.html' %}
  {% include 'experience.html' %}
  {% include 'education.html' %}
  <h1 class="lead display-1 text-center bottom_slide">Professional Skills</h1>
  {% include 'skills.html' %}
  {% include 'softskills.html' %}
</body>
</html>