<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .profile-image {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 50%;
        }
        .content {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container bg-light rounded my-5 p-5 bottom_slide">
        <div class="row">
            <div class="col-md-4">
                <img src="media/images/myself.jpg" class="border profile-image" alt="Foto de perfil">
            </div>
            <div class="col-md-5 text-dark">
                <h1 class="lead display-3">Sergi Fuster Durà</h1>
                <p class="lead">
                    Welcome to my website, here you can find professional information about me. For any doubt or interest you have the contact form at your disposal. Thank you very much.
                </p>
            </div>
        </div>
    </div>
</body>
</html>