<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'card2.html' %}
    {% block title %} Skills {% endblock %}
    {% block item1 %} Python {% endblock %}
    {% block item2 %} Django {% endblock %}
    {% block item3 %} Flask {% endblock %}
    {% block item4 %} HTML {% endblock %}
    {% block item5 %} CSS {% endblock %}
    {% block item6 %} JavaScript {% endblock %}
</body>
</html>