<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'card2.html' %}
    {% block title %} Soft Skills {% endblock %}
    {% block item1 %} Communicative {% endblock %}
    {% block item2 %} Problem Solver {% endblock %}
    {% block item3 %} Attentive {% endblock %}
    {% block item4 %} Hardworking {% endblock %}
    {% block item5 %} Responsible {% endblock %}
    {% block item6 %} Calm {% endblock %}
</body>
</html>