<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container bottom_slide">
        <h1 class="lead display-1">Projects</h1>
        <div class="row">
            {% for project in projects %}
                <div class="col-md-6 my-3">
                    {% include "card4.html" with project=project %}
                </div>
                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>