<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container top_slide my-5">
        <h1 class="lead display-1">Filter by Technologies</h1>
        <form class="card" method="get">
            <div class="form-group">
                <label class="card-header d-block lead" for="id_technologies">Technologies:</label>
                <div class="row my-2 card-body">
                    {% for checkbox in form.technologies %}
                        <div class="col-md-3">
                            <div class="form-check">
                                {{ checkbox.tag }}
                                {{ checkbox.choice_label }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
</body>
</html>