<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid w-50 mb-5 bottom_slide">
        <div class="card">
            <div class="card-header">
                <p>Period: {% block initial_date %}{% endblock %} - {% block final_date %}{% endblock %}</p>
                <p>Rol: {% block rol %}{% endblock %}</p>
                <p>Institution: {% block company %}{% endblock %}</p>
                <p>Country: {% block country %}{% endblock %}</p>
            </div>
            <div class="card-body">
                <p class="card-text lead">{% block description %}{% endblock %} </p>
            </div>
        </div>
    </div>
</body>
</html>