<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'card1.html' %}
    {% block company %}Jaume I University{% endblock %}
    {% block initial_date %}2019{% endblock %}
    {% block final_date %}2023{% endblock %}
    {% block rol %}Design and Development of Videogames{% endblock %}
    {% block country %}Castellón de la Plana, Spain{% endblock %}
    {% block description %}blalblalbablalblbalbalb{% endblock %}
</body>
</html>