<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Title</h1>
    {{ project.title }}
    <h1>Description</h1>
    {{ project.description }}
    <h1>Links</h1>
    <ul>
        {% for link in project.links.all %}
            <li><a href="{{ link.url }}">{{ link.label }}</a></li>
        {% endfor %}
    </ul>
    <h1>Technologies</h1>
    <ul>
        {% for technology in project.technologies.all %}
            <li>{{ technology.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>